<div fxLayout="column" fxLayoutAlign="start" [formGroup]="connectionTypeForm">
  <mat-form-field>
    <mat-label>Тип соединения</mat-label>
    <mat-select formControlName="connectionType">
      <mat-option *ngFor="let connectionType of connectionTypes" [value]="connectionType.name">
        {{connectionType.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="value.connectionType === connectionTypeConnectionString">
    <mat-label>Строка соединения</mat-label>
    <input matInput formControlName="connectionString">
  </mat-form-field>
</div>